boto==2.15.0
certifi==2018.8.24
Click==7.0
cmd2==0.6.7
docopt==0.6.2
fake-factory==0.3.2
Flask==0.12.1
fuzzywuzzy==0.2
GitPython==0.1.7
gnureadline==6.3.3
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
PsiTurk==2.2.3
psutil==5.4.7
psycopg2==2.7.5
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
requests==2.5.0
setproctitle==1.1.8
sh==1.9
six==1.11.0
SQLAlchemy==0.8.3
ua-parser==0.3.6
user-agents==0.2.0
Werkzeug==0.12.1
