<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Informed Consent Form</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">



                <h1>We need your consent to proceed</h1>
                <hr />
                <div class="legal well">
                    <h1>This is where your consent form would go</h1>


<p>Consent is very important. Do not run experiments with people without their consent!</p>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis
                        autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                        consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et
                        accumsan et iusto odio dignissim qui blandit praesent luptatum zzril
                        delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum
                        soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                        placerat facer possim assum. Typi non habent claritatem insitam; est usus
                        legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt
                        lectores legere me lius quod ii legunt saepius. Claritas est etiam
                        processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                        est notare quam littera gothica, quam nunc putamus parum claram,
                        anteposuerit litterarum formas humanitatis per seacula quarta decima et
                        quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
                        sollemnes in futurum.</p>

        <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
        <span class="glyphicon glyphicon-print"></span> Print a copy of this
        </button>
    </div>

    <hr />
    <br />

    <center>
        <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
        <span class="glyphicon glyphicon-ok"></span> I consent to participate
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
        <span class="glyphicon glyphicon-ban-circle"></span> I do NOT consent to participate
        </button>
    </center>

            </div>
        </div>
    </body>
</html>

