<div id="container-instructions">
    <h1>
        Demo/debug mode
    </h1>
    <div class="instructions well">
        <p>
            Select a condition to run (this page will not be shown in the live experiment)
        </p>
        <div class="row">
            <div class="col-xs-3">
                <button type="button" id="show_cond_button" class="btn btn-primary btn-lg">
                Showing Condition
                </button>
            </div>
            <div class="col-xs-1"></div>
            <div class="col-xs-3">
                <button type="button" id="do_cond_button" class="btn btn-primary btn-lg">
                Doing Condition
                </button>
            </div>
        </div>
    </div>
</div>
