<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Experiment Dashboard</title>
        <link rel="Favicon" href="/static/favicon.ico" />

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    </head>
    <body>

        <div role="main" class="container">
        <h2>Experiment Data</h2>
        <ul>
            <li>
                <a href="/download_data?table=participants">Download main participant table</a>
            </li>
            <li>
                <a href="/download_data?table=questions">Download only question data</a>
            </li>
            <li>
                <a href="/download_data?table=trials">Download only trial data</a>
            </li>
            <li>
                <a href="/download_data?table=events">Download only events data</a>
            </li>
        </ul>

        <h2>Participants</h2>
            {{ participant_table|safe }}

        <h2>Condition Counts</h2>
            {{ cond_counts|safe }}
        </div>
    </body>
</html>